@{
    ViewData["Title"] = "K23CNT2 - Nguyễn Văn Lượng";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Nguyễn Văn lượng</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
