@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="alert alert-info">
    <h1>ViewData["Title"]</h1>
    <h1>Mã sinh viên:2310900060</h1>
    <h1>Họ và tên:Nguyễn Văn Lượng</h1>
    <h1>Ngày sinh:08/09/2005</h1>
    <h1>Email:luonghn0@gmail.com</h1>
    <h1>Điện thoại:0964729904</h1>
    <h1>Lớp:K23CNT2</h1>
</div>