@model NguyenVanLuong_2310900060.Models.NvlEmployee

@{
    ViewData["Title"] = "Thêm mới danh mục";
}

<h1>Create</h1>

<h4>NvlEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="NvlCreate">
            <div class="card">
                <div class="card-header">
                    <h1>@ViewData["Title"]</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NvlEmpId" class="control-label"></label>
                <input asp-for="NvlEmpId" class="form-control" />
                <span asp-validation-for="NvlEmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvlEmpName" class="control-label"></label>
                <input asp-for="NvlEmpName" class="form-control" />
                <span asp-validation-for="NvlEmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvlEmpLevel" class="control-label"></label>
                <input asp-for="NvlEmpLevel" class="form-control" />
                <span asp-validation-for="NvlEmpLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvlEmpStartDate" class="control-label"></label>
                <input asp-for="NvlEmpStartDate" class="form-control" />
                <span asp-validation-for="NvlEmpStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvlEmpStatus" class="control-label"></label>
                <input asp-for="NvlEmpStatus" class="form-control" />
                <span asp-validation-for="NvlEmpStatus" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <input type="submit" value="Ghi lại" class="btn btn-primary" />

                    <a asp-action="NvlIndex">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
