@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 23010900060</p>
    <p>Họ và tên: Nguyễn Văn Lượng</p>
    <p>Email: luonghn2005@gmail.com</p>
    <p>Điện thoại: 0964 729 604</p>
    <p>Lớp: K23CNT2</p>
</div>